run = "npm run dev"
modules = ["python-3.12", "nodejs-20", "web", "nix"]
[nix]
channel = "stable-25_05"
packages = ["bash", "file", "glibcLocales", "libxcrypt", "postgresql"]

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
